@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Plus Jakarta Sans", sans-serif;
}

@layer components {
	/* containers */
	.container-v-sm {
		@apply px-6 py-6 md:px-10 md:py-[2.12rem];
	}
	.container-v-main {
		@apply px-4 py-12 md:px-[2.81rem] md:py-16;
	}
	.text-v-xlg {
		@apply text-[2.88rem] leading-10 font-bold md:text-7xl md:leading-[5.5rem];
	}
	.text-v-lg-bold {
		@apply text-4xl leading-[2.8rem] font-bold md:text-6xl lg:text-7xl md:leading-[4.5rem] lg:leading-[5rem];
	}
	.text-v-sm {
		@apply text-base leading-7 md:text-lg md:leading-[1.88rem];
	}
	.text-v-md-semi {
		@apply text-xl md:text-2xl font-semibold;
	}
	.text-v-md {
		@apply text-[2.75rem] leading-[3.375rem] md:text-[3.5rem] md:leading-[4.25rem];
	}
}
.explore-headings {
	@apply mt-5 mb-4 capitalize;
}
.active {
	color: white;
}
.career {
	background: linear-gradient(
		to bottom,
		#fff 0%,
		#fff 60%,
		#101110 60%,
		#101110 100%
	);
}
.category.active {
	@apply bg-blue-bg border-transparent;
}
.form-input {
	@apply bg-black-v-dark rounded-lg text-gray-v-200 px-6 py-5 capitalize;
}
.input-wrapper {
	@apply flex flex-col;
}
.inputs {
	@apply border-[1px] border-gray-200 rounded-[2.5rem] px-5 py-[0.87rem] mb-5 w-full;
}
.label {
	@apply font-medium leading-7 text-black-v-dark capitalize mb-[0.62rem];
}
/* slick custom design */
.slick-arrow {
	display: none !important;
}
.slick-list {
	margin-right: 1.87rem;
}
.slick-dots li button:before {
	@apply text-black-v-600  md:text-xl text-xs;
}
.slick-dots li.slick-active button:before {
	@apply text-white;
}
.slick-dots {
	position: relative !important;
	margin-top: 3rem;
	width: max-content;
	margin: auto;
}
